<sly-field>
    <sly-field title="Tags for conversion" :description="data.selectedTags.description">
      <sly-select-tag title="New project name" :project-id="state.slyProjectId" :tags.sync="state.selectedTags.tags" :options="data.selectedTags.options"></sly-select-tag>
    </sly-field>
    <sly-field title="New project name" :description="data.resultProjectName.description">
      <el-input v-model="state.resultProjectName"></el-input>
    </sly-field>
    <el-checkbox v-model="state.handleMulti">Handle multiple tags on a single object</el-checkbox>
    <el-select v-if="state.handleMulti" class="mt5" v-model="state.handleOption" placeholder="Select an option"></el-select>
      <el-option label="Ignore" value="ignore" description="Convert object using first tag"></el-option>
      <el-option label="Create for each" value="create" description="Create object for each object tag"></el-option>
    </el-select>
</sly-field>